<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>{{convertToUpperCase "This is my first post"}}</p>
    <!--<p>{{convertToUpperCase pageDesc}}</p>-->
    <p>{{pageDesc}}</p>
  </body>
  {{> footer}}
  </html>
