<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <h1>Website is currently being Repaired</h1>
    <p>Please visit after 3 days!</p>
  </body>
  {{> footer}}
  </html>
